{% extends 'base.html' %}
{% load bootstrap4 %}
{% block styles %}
{% load static %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
{% endblock%}
{% block content %}
<div class="backg">
  <div class="overlay">
<div class="container-fluid">
  <div class="enclose">
    <div class="navbar  sticky-top" role="navigation">
      <div class="container-fluid upper">
        
          <div class="navbar-header">
             <h1>
              <a class="navbar-brand" href="{% url 'neighbourhood:index' %}"> THEE HOOD</a>
            </div>
             </h1>
        <div class="list">

     <form class="navbar-form" role="search" action="{% url 'neighbourhood:search_results' %}">
            <div class="input-group">
              <div class="search">
              
              <a href="{% url 'neighbourhood:index' %}">
                
                <input  id="search_input" type="text"  placeholder="Search business..." >
                <i class="fa fa-search" style="font-size:12px"></i>
                <label  value="submit" for="search-input"><span class="glyphicon glyphicon-search search-icon"></span></label>
            
              </a>
            </div>
                </div>
            </div>
     </form>
         
          <div class="home-icon">
                <a href="{% url 'neighbourhood:index' %}">
                  <h1> </h1>
                  <i class="fa fa-home" style="font-size:22px"></i>
                </a>
              
              </div>
         </div>
              
              <div class="dropdown">
                <div class="dropd">
                <a href="#" class="dropdown-toggle btn btn-default" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  <i id="greyi" class="fa fa-user" style="font-size:22px"></i>
                          <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <img src="" alt="image">
                  </li>
                  <li>
                    <a class="drop" href="{%url 'neighbourhood:profile'%}">Profile</a>
                  </li>
                 
                  <li>
                    <a class="drop" href="/accounts/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </div>
           
          </div> 
      
          <div class="form-group">
            <a href="{% url 'neighbourhood:newHood' %}">
              <input class="btn btn-secondary" id="add_input" type="submit" value="New Hood"  placeholder="Add New Hood" >
            </a>

          </div>
           
<div class="container-fluid">
    <div class="container-xl">
     <div class="row ">
        {% for hood in hoods %}
       <div class="col-md-4">
        <div class="inside mx-5 ">
        <div class="card my-4" style="width: 26rem;height: 26rem ;" >

           <div class="header">
            <h5 class="card-title">
                {{hood.name}} <br>
                {{hood.location}} 
            </h5>
           </div>
    
              <img id="image" class="card-img" src="{{hood.image.url}}" alt="image" width="210px" height="210px">
           
            <p class="card-text">
                {{hood.description}} <br>
              Total number of Occupants:  {{hood.occupants_count}} <br>

            </p>
            <div class="card-body">
                <a href="{% url 'neighbourhood:hooddetails' hood.id %}">
                    <button type="button" class="btn btn-info">
                        View Hood Details
                      </button>
                 </a> 
          </div>
           

        </div>

    </div>
        </div>
          {% endfor %}
 
       </div>
    </div>
     
       </div>
     </div>
    </div>
   

    <style>
          *{
           
           padding: 0px;
           margin: 0px;
       }
      
       .navbar-header a{
       color: white;
       font-size: 25px;
       }
       .enclose{
           display: flex;
           flex-direction: column;
          
       }
       .upper{
         width: 660px;
         height: 40px;
         color: white;
       }
       .card{
           color: black;
           margin: 0px;
           border: none;
           padding-bottom: 0px;
           transition: all .3s;
           margin-right: 180px;
       }
       .card:hover{
         transform: scale(1.04);
       }
       .glyphicon{
         color: white;
       }
       .backg{
       height: 1100px;
       background-image: url(/media/images/hood1.jpeg);
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
         
       }
       .overlay{
         background: rgb(0, 0, 0, .8);
         height:100vh;
       }
       .post{
       background-color: aqua;
       }

     #search_input{
       background-color: rgb(250, 246, 246);
       border: none;

     }
     #add_input{
       background-color: rgb(248, 248, 248);
       color: rgb(170, 169, 169);
       width: 110px;
       height: 160%;
       margin-top: 16px;
     }
    .dropd{
      padding-top: 15px;
      margin-right: 8px;
     color: white;
    }
     .dropd a{
       color: white;
     }
   
     .row{
         margin-top: 100px;
     }
     .card-text{
        text-align: center;
     }
     .header h5{
         text-align: center;
     }
     .form-group btn{
       color: black;
     }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    {% endblock %}