{% extends 'base.html' %}
{% load bootstrap3 %}
{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
   
{% endblock%}
{% block content %}

<div class="container-xl">
    <div class="navbar  sticky-top" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
             <h1>
              <a class="navbar-brand" href="/"> AWWARDS</a>
            </div>
             </h1>
             
          
        <div class="list">

          <form class="navbar-form" role="search" action="">
            <div class="input-group">
              <div class="search">
              
              <a href="/">
                
                <input id="search_input" type="text"  placeholder="Search..." >
                <i class="fa fa-search" style="font-size:15px"></i>
                <label  value="submit" for="search-input"><span class="glyphicon glyphicon-search search-icon"></span></label>
            
              </a>
            </div>
                </div>
            </div>
          </form>
         
              <div class="home-icon">
                <a href="/">
                  <h1> </h1>
                  <i class="fa fa-home" style="font-size:18px"></i>
                </a>
              
              </div>

          </div>    
    </div>
    

    <div class="media">
        
        <div class="media-body">

            
          <h4 class="mt-0">{{user.username}}</h4> <br>
          <div class="details">
            <span class="mr-5">{{images.count}} Projects</span>
           
          </div>
          <div class="bio-details">
              <p>{{ user.profile.bio}}</p>

              <button class="btn btn-sm btn-secondary"   data-bs-toggle="modal" data-bs-target="#myModal">Update Profile</button>
          </div>

          <div class="prof">
    
                <a href="/accounts/logout">Logout</a>
          </div>

        </div>
      </div>

<div class="container">
  <div class="container-fluid">
<div class="col-md-4"></div>
<div class="row">
<div class="col-md-8 my-5 ">
  {% for project in projects%}
  <div class="card" style="width: 28rem; margin-bottom: 10px;">
    <div class="card-body">
      <h5 class="card-title">{{project.title}}</h5>
      <img id="image" class="modal-img" src="{{project.image.url}}" alt="image" width="70%" height="100%">
      <p class="text-center"> {{project.description}}</p>
      <a href="#" class="card-link">{{project.url}}</a>
    </div>
  </div>
  
  
          {% endfor %}
    </div>
  </div>
    <div class="col-md-4"></div>
  </div>
</div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Profile Details </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
{% if profileForm.errors  %}
Password/Username Incorrect
       {% endif %}
      </div>

     
      <form action="{% url 'awards:profile' %}"  method="post">
          {% csrf_token %}
        {% bootstrap_form profileForm %}
        <div class="form-group">

          <input value="Update"  type="submit" class="btn btn-success" >
        </div>
        <input type="hidden" name="next" value="{{next}}">

      </form>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
</div>
<style>
    *{
      background-color: black;
      color: white;
    }
    .media{
        padding-left: 950px;
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        color: white;
    }
    .navbar-header{
    font-family: 'Lobster', cursive;
    padding-left: 110px;
    font-weight: 100;
    color: white;
      
    }
    .navbar-header a{
      font-size: 25px;
    }
    #search_input{
      width: 48%;
      height: 64%;
      font-size: 10px;
      border-radius: 3px;
      border: 1.1px solid rgb(226, 223, 223);
      margin-left: 90px;
      background-color: rgb(236, 235, 235);
    }
    
    .list{
      display: flex;
      justify-content: space-evenly;
      padding-top: 9px;
    }
    
    .home-icon{
      padding-right: 5px;
    }
   
    .container-fluid{
        font-size: 18px;
      margin-left: 40px;
      margin-right: 250px;
      display: flex;
      justify-content: space-evenly;
      color: white;
      border: none;
     
    }
    
    .container-fluid a{
      color: white;
    }
    #greyi{
      color: rgb(199, 198, 198);
      
    }
    .media-body{
      padding-left: 21%;
    }
    .navbar{
      background-color: black;
      color: white;
    }
   
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}